/*#region fadein*/
.fadein {
    -webkit-animation: fadein 4s forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 4s forwards; /* Firefox < 16 */
    animation: fadein 4s forwards;
}

@keyframes fadein {
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    to {
        opacity: 1;
    }
}

/*#endregion*/

/*#region fadeout*/
.fadeout {
    -webkit-animation: fadeout 2s forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout 2s forwards; /* Firefox < 16 */
    animation: fadeout 2s forwards;
}

@keyframes fadeout {
    to {
        opacity: 0;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    to {
        opacity: 0;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    to {
        opacity: 0;
    }
}

/*#endregion*/

/*#region move-up-and-fadeout*/
p.move-up-and-fadeout {
    -webkit-animation: move-up 2s ease forwards, fadeout 2s forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: move-up 2s ease forwards, fadeout 2s forwards; /* Firefox < 16 */
    animation: move-up 2s ease forwards, fadeout 2s forwards;
}
/*#endregion*/

/*#region move-up*/
p.move-up {
    -webkit-animation: move-up 2s ease forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: move-up 2s ease forwards; /* Firefox < 16 */
    animation: move-up 2s ease forwards;
}

@keyframes move-up {
    to {
        margin-top: -8px;
    }
}

/* Firefox < 16 */
@-moz-keyframes move-up {
    to {
        margin-top: -8px;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes move-up {
    to {
        margin-top: -8px;
    }
}

/*#endregion*/

/*#region move-to-corner*/
img.move-to-corner {
    -webkit-animation: move-to-corner 3s ease-in-out forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: move-to-corner 3s ease-in-out forwards; /* Firefox < 16 */
    animation: move-to-corner 3s ease-in-out forwards;
}

@keyframes move-to-corner {
    to {
        height: 60px;
        top: 87.5%;
        left: 95%;
        margin-left: -30px;
    }
}

/* Firefox < 16 */
@-moz-keyframes move-to-corner {
    to {
        height: 60px;
        top: 87.5%;
        left: 95%;
        margin-left: -30px;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes move-to-corner {
    to {
        height: 60px;
        top: 87.5%;
        left: 95%;
        margin-left: -30px;
    }
}

/*#endregion*/

/*#region move-to-center*/
img.move-to-center {
    -webkit-animation: move-to-center 3s ease-in-out forwards; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: move-to-center 3s ease-in-out forwards; /* Firefox < 16 */
    animation: move-to-center 3s ease-in-out forwards;
}

@keyframes move-to-center {
    to {
        height: 100px;
        top: 20%;
        left: 50%;
        margin-left: -50px;
    }
}

/* Firefox < 16 */
@-moz-keyframes move-to-center {
    to {
        height: 100px;
        top: 20%;
        left: 50%;
        margin-left: -50px;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes move-to-center {
    to {
        height: 100px;
        top: 20%;
        left: 50%;
        margin-left: -50px;
    }
}

/*#endregion*/